input {
    background-color: var(--background-color-verylight);
    color: var(--text-color-normal);
    border: none;
}

form#message {
    background-color: var(--background-color-verylight);
    color: var(--text-color-normal);
    border-radius: 8px;
    padding: 3px;
    position: fixed;
    bottom: 30px;
    width: 88%;
}

form#message input {
    border: 0;
    padding: 10px;
    width: 80%;
    margin-right: 0.5%;
    font-size: 16px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}