#chat {
    margin-left: 225px;
}

.nostylebutton {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.nostylebutton:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.nostylebutton:active {
    outline: none;
    border: none;
}

.nostylebutton:focus {
    outline: 0;
}

.displayImage {
    border-radius: 8px;
    max-width: 400px;
    max-height: 400px;
}

.contentheader {

}

#uname {
    font-size: 90px;
    font-weight: 600;
    text-align: center;
}

#uname input {
    width: 20%;
    height: 50px;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
}

#channels {
    padding-top: 50px;
}