@media only screen and (max-width : 1024px) {
    #channels {
        padding-top: 115px;
    }

    #uname input {
        width: 72%;
        height: 100px;
        font-size: 50px;
    }

    .channel {
        width: 93%;
        height: 71%;
    }
}

@media only screen and (min-width : 1025px) {
    #channels {
        padding-top: 65px;
    }

    #uname input {
        width: 30%;
        height: 50px;
        font-size: 25px;
    }

    .channel {
        width: calc(100vw - 480px);
        height: 79%;
    }
}

.nostylebutton {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.nostylebutton:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.nostylebutton:active {
    outline: none;
    border: none;
}

.nostylebutton:focus {
    outline: 0;
}

.displayImage {
    border-radius: 8px;
    max-width: 400px;
    max-height: 400px;
}

#uname {
    font-size: 90px;
    font-weight: 600;
    text-align: center;
}

#uname input {

    border-radius: 8px;
    text-align: center;
}

.channel {
    padding-top: 30px;
    
    overflow: auto;
}

#channels {
    height: 100vh;
    overflow: visible;
}